body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
h1{
	font-size: 30px;
	color: #352384;
}
h2{
	font-size: .875rem;
	letter-spacing: 1.5px;
	color: #352384;
}
#contenedor-principal{
	width: 100%;
	height:500px;	
	background-image: url("../img/homepage.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	border: solid green 1px;
}
#contenedor-principal > article{
	display: inline-block;
	position: absolute;
	padding: 60px;
	width: 40%;
	height:auto;
	background: white;
	left:51%;
	top: 20%;
}